
.tictactoeBox {
  text-align: center;
  margin-top: 2em;
  background-color: #FFF5B4;
}

.tictactoeGame {
  margin-top: 1em;
}

.tictactoeMenu .btn {
  height: 5em;
  width: 15em;
  margin: 1em;
  background-color: #FFD5B4;
}

.tictactoeMenu .btn p {
  font-size: 2em;
}

.tictactoeButton {
  height: 10em;
  width: 10em;
  margin: .5em;
  background-color: #BDE2A0;
}

.tictactoeButton p {
  font-size: 6em;
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin-top: 1em;
}
