
.tictactoeBox {
  text-align: center;
  margin-top: 2em;
}

.tictactoeGame {
  margin-top: 1em;
}

.tictactoeMenu .btn {
  height: 5em;
  width: 15em;
  margin: 1em;
}

.tictactoeButton {
  height: 10em;
  width: 10em;
  margin: .5em;
}

.tictactoeButton p {
  font-size: 6em;
}

footer {
  text-align: center;
  margin-top: 1em;
}
